.container{
  width: 500px;
  margin:0 auto;
}
.form{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.form input{
  height: 32px;
  width: 70%;
  border-radius: 6px;
  font-size:  18px;
}
.box-item{
  margin-top: 5px;
}
.item{
  margin: 2px 0;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 10px;
}
.remove-item{
  cursor: pointer
}
.remove-item:hover {
  text-decoration: underline;
}